body {
    background-color: #f8f9fa;
}
h2 {
    color: #343a40;
}

.card-custom {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}

.card-custom-header {
    background-color: #2575fc;
    color: #fff;
    border-radius: 12px 12px 0 0;
    padding: 15px;
}

.card-custom-body {
    padding: 20px;
}

.card-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 0 0 12px 12px;
}
