{% extends 'tasks/base.html' %}
{% block content %}
<h2>Sign Up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Sign Up</button>
</form>
{% endblock %}

# task_form.html
{% extends 'tasks/base.html' %}
{% block content %}
<h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Task</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Save</button>
    <h1>Sign Up</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign Up</button>
</form>

</form>
{% endblock %}